@media (hover: hover){
  .index_link:hover{
    transform: scale(1.1);
  }
  .button:hover{
    cursor: pointer;
    background-color: rgb(214, 214, 214);
  }

  nav:hover .nav_item:not(.current):hover:after{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 90vw;
    height: 100%;
    background-color: inherit;
    pointer-events: none;
    z-index: -1;
  }
  .nav_item:hover:after{
    border-bottom-left-radius: 2rem;
  }

  nav:hover .nav_item:not(.current):hover span{
    opacity: 1;
  }

  .nav_item:hover:before{
    font-size: 4rem;
  }

  .nav_item:hover{
    cursor: pointer;
  }
}

#issue_content_wrapper{
  margin-top: -100vh;
}

nav.sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 90%;
  width: 10%;
  z-index: 100;
}

@media(any-hover: none ){
  nav:active .nav_item:after{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 90vw;
    height: 100%;
    background-color: inherit;
    pointer-events: none;
    z-index: -1;
  }
}


.nav_item span{
  position: absolute;
  width: 80vw;
  right: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 20vh;
  font-size: 1rem;
  text-transform: uppercase;
  
}

.nav_item{
  position: relative;
  display: block;
  padding-left: 100%;
  height: 20vh;
  padding-top: 0;
  color: #000 !important;
  mix-blend-mode: normal !important;
  
  margin-bottom: 0;
  z-index: 2;
}

.nav_item.current:before{
  content: '-';
}

.nav_item:before{
  content: '+';
  position: absolute;
  right: 50%;
  top: 50%;
  font-size: 2rem;
  transform: translate(50%, -50%);
  opacity: 1;
}

.nav_item span{
  opacity: 0;
  pointer-events: none;
}

h1{
  text-transform: uppercase;
}

p{
  letter-spacing: 0.1em;
  text-indent: 10%;
}

p:first-of-type{ text-indent: 0%; }

.index_link{
  margin: 0 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  width: calc(25% - 2rem * 2);
  text-align: center;
  display: inline-block;
  align-items: top;
  letter-spacing: 0.1em;
}

.index_link p{
  margin-top: 0;
  text-align: right;
}

.index_link img{
  display: block;
  width: 50%;
}

.issue_heading{
  padding-top: 0.5rem;
  font-family: 'feeeels_fuzzyregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
  color: #000;
  /*mix-blend-mode: exclusion;*/
}

.issue_header{
  pointer-events: none;
  text-align: left;
  background-color: inherit;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0.4rem 0;
  padding-left: 10%;
  font-family: 'feeeels_fuzzyregular', Arial, sans-serif;
  font-size: 5vw;
  letter-spacing: 16.1vw;
  line-height: 1.5;
}

.menu{
  position: fixed;
  top: 0rem;
  width: 4%;
  margin-top: 0;
  padding: 0.4rem 0;
  text-align: center;
  left: 0;
}

main{
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content{
  overflow-y: hidden;
  max-height: 20vh;
  box-sizing: border-box;
  padding: 1rem;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /*border-radius: 7rem;*/
}

.content:not(.expanded):active,
.content.expanded{
  font-size: 2rem;
  width: 96%;
  margin-right: 4%;
  padding-right: calc(4% + 1rem);
  box-sizing: border-box;
  /*border-bottom-right-radius: 2rem;*/
  border-bottom-left-radius: 2rem;
}

.content h2{
  display: none;
}

.content:not(.expanded):active h2,
.content.expanded h2{
  display: block;
  font-size: 1.4rem; 
  margin-bottom: 2rem;
}

.content.expanded{
  padding-top:6rem;
}

/* footnotes css */


.footnote_button{
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0.25rem;
}
.footnote_button sup{
  line-height: 1rem;
  top: 0;
  font-size: 1rem;
}

.content .entry_footnotes{
  display: none;
}

.content.expanded .entry_footnotes{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

.footnote{
  margin-bottom: 1rem;
}

.footnote sup{
  display: inline;
}

.footnote sup + *:not(figure){
  display: inline;
}

.footnote{
  text-align: left;
}


/* end of footnotes css */


.content:not(.expanded) .expand{
  display: block;
  position: absolute;
  bottom: 50%;
  left: 100%;
  transform: translate(-50%, 50%);
}

.content:not(.expanded):active .expand{
  left: 93.75%;
}

.content.expanded .bubble,
.content:not(.expanded):active .bubble{
  display: block;
}

.content.expanded .bubble *:not(.expand):not(img):not(audio):not(figcaption):not(button):not(sup),
.content:not(.expanded):active .bubble *:not(.expand):not(img){
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0rem;
  font-size: 1.4rem;
}

.content.expanded .bubble figure{
  text-align: left;
}

.content.expanded .bubble figure audio{
  width: 100%;
  margin-bottom: 0;
}

.content.expanded .bubble figure figcaption{
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
}



.content.expanded .bubble figure:active{
  text-align: center;
}

.content.expanded .bubble img,
.content:not(.expanded):active .bubble img{
  margin-left: 10%;
  width: 45%;
  cursor: zoom-in;
}

.content.expanded .bubble img.reference,
.content:not(.expanded):active .bubble img.reference{
  margin-left: 30%;
  width: 30%;
  cursor: zoom-in;
}

.content.expanded .bubble .large img,
.content:not(.expanded):active .bubble .large img{  
  width: 75%;
  cursor: zoom-in;
}

.content.expanded .bubble .large:active img,
.content:not(.expanded):active .bubble .large:active img{
  margin-left: -10%;  
  width: 120%;
  cursor: zoom-out;
}

.content.expanded{
  position: relative;
}

.content.expanded .bubble img:active,
.content:not(.expanded):active .bubble img:active,
.content.expanded .bubble figure:active,
.content:not(.expanded):active .bubble figure:active{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  cursor: zoom-out;
  mix-blend-mode: normal;
  filter: grayscale(0);
}

.content .bubble{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content .bubble h1:not(.expand),
.content .bubble h2:not(.expand),
.content .bubble h3:not(.expand),
.content .bubble h4:not(.expand),
.content .bubble h5:not(.expand),
.content .bubble h6:not(.expand),
.content .bubble ul:not(.expand),
.content .bubble li:not(.expand),
.content .bubble p:not(.expand),
.content .bubble p:not(.expand),
.content .bubble figure:not(.expand){
    width: 20%;
    padding: 1rem;
    box-sizing: border-box;
    display: block;
}

.content:not(.expanded) .bubble figure:not(.expand) img{
  width: 100%;
}

.content .bubble *:not(img):not(.expand){
    color: black;
    /*mix-blend-mode: exclusion;*/
}

.bubble_item,
.bubble *:not(button){
  margin-bottom: 2rem;
}

.bubble_item.text, 
.bubble p,
.bubble h1,
.bubble h2,
.bubble h3,
.bubble h4,
.bubble h5,
.bubble h6,
.bubble ul,
.bubble ol,
.bubble li{
  text-align: left;
}



.bubble_item.reference{
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
  border-radius: 2rem;
  mix-blend-mode: multiply;
}


@media (max-width: 1280px){
  .index_link{
    width: calc(33.33% - 2rem * 2);
  }
}

@media (max-width: 900px){
  .index_link{
    width: calc(50% - 2rem * 2);
  }
}

@media (max-width: 768px){
  .content.expanded .entry_footnotes{
    width: 90%;
    margin-left: 6%;
  }  

  main{
    width: 100%;
  }

  .content .bubble h1:not(.expand),
  .content .bubble h2:not(.expand),
  .content .bubble h3:not(.expand),
  .content .bubble h4:not(.expand),
  .content .bubble h5:not(.expand),
  .content .bubble h6:not(.expand),
  .content .bubble ul:not(.expand),
  .content .bubble li:not(.expand),
  .content .bubble p:not(.expand),
  .content .bubble p:not(.expand),
  .content .bubble figure:not(.expand){
      width: 50%;
  }

  .content .bubble figure:not(.expand){
    margin: 0;
  }

  .bubble_item.text{
    font-size: 0.2rem;
  }

  .content.expanded .bubble *:not(.expand):not(img):not(button):not(sup),
  .content:not(.expanded):active .bubble *:not(.expand):not(img){
    margin-left: 6%;
    width: 90%;
    font-size: 1.15rem;
  }

  .content:not(.expanded):active,
  .content.expanded{
    padding-right: 1rem;
    padding-left: 10%;
    width: 90%;
    margin-right: 10%;
  }
}


